server:
  port: 8090
spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri:
          search-paths:
        label:master
eureka:
  client:
    service-url:
      #eureka·þÎñµØÖ·
      defaultZone: http://localhost:8080/eureka